name: Build and push Docker image

on:
  [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build image
        run: docker build . -t ghcr.io/elmerohueso/familychores:latest
      - name: push image
        run: |
          docker login ghcr.io -u elmerohueso -p ${{secrets.CR_PAT}}
          docker push ghcr.io/elmerohueso/familychores:latest
